@{
    ViewData["Title"] = "Biblioteca";
}
<h1>@ViewData["Title"]</h1>

<p>Busqueda guardada 1: himno del perú</p>

<a href="https://alzedo.weebly.com/about.html">https://alzedo.weebly.com/about.html</a>
