@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Buscador</h1>
    <p>Learn about this proyect <a href="https://gitlab.labcomp.cl/wladimir.ormazabal.ex/inf236-2021-2-grupo-15-p-002/-/wikis/home">in this Wiki</a>.</p>
</div>


<form action="../../home/musica" method="post" target="_blank">
    <p>
        Búsqueda de música: <input type="search" name="busquedamusica" placeholder="Canción, autor, álbum...">
        <input type="submit" value="Buscar">
    </p>
</form>