@{
    ViewData["Title"] = "Links";
}
<h1>@ViewData["Title"]</h1>

<form action="../../home/links" method="post" target="_blank">
    <p>
        <input type="search" name="agregarlink" placeholder="Escriba el link aquí...">
        <input type="submit" value="Agregar Link">
    </p>
</form>

<div class="wsite-spacer" style="height:50px;"></div>

<div class="paragraph" style="text-align:left;"><strong>Revista Musical Chilena (Departamento de M&uacute;sica y Sonolog&iacute;a, Universidad de Chile)</strong><br />&#8203;&#8203;<a target="_blank" href="http://revistamusicalchilena.uchile.cl/">revistamusicalchilena.uchile.cl/</a></div>

<div class="paragraph" style="text-align:left;"><strong>Revista Resonancias (Instituto de M&uacute;sica, Pontificia Universidad Cat&oacute;lica de Chile)</strong><br />&#8203;<a href="http://resonancias.uc.cl/es/" target="_blank">resonancias.uc.cl/es/</a></div>

<div class="paragraph" style="text-align:left;"><strong>Revista Neuma (Departamento de M&uacute;sica, Universidad de Talca)</strong><br /><a href="http://neuma.utalca.cl/" target="_blank">http://neuma.utalca.cl/</a></div>

<div class="paragraph"><strong>Revista &Aacute;temus (Departamento de M&uacute;sica y Sonolog&iacute;a, Universidad de Chile)</strong><br /><a href="http://bibliotecas.uchile.cl/artes/atemus/" target="_blank">http://bibliotecas.uchile.cl/artes/atemus/</a></div>

<div class="paragraph"><strong>Revista &Aacute;mbito Sonoro (Centro de Investigaci&oacute;n Musical Aut&oacute;nomo, Valpara&iacute;so, Chile)</strong><br /><a href="http://www.cimach.cl/publicaciones.php" target="_blank">http://www.cimach.cl/publicaciones.php</a></div>

<div class="paragraph"><strong>Revista Arteescena (Facultad de Arte, Universidad de Playa Ancha)</strong><br /><a href="http://www.artescena.cl/" target="_blank">http://www.artescena.cl/</a><br /></div>

<div class="paragraph"><strong>Contrapulso (Facultad de Filosof&iacute;a y Humanidades, Universidad Alberto Hurtado)</strong><br /><a href="https://contrapulso.uahurtado.cl/index.php/cp" target="_blank">https://contrapulso.uahurtado.cl/index.php/cp</a></div>

<div class="paragraph"><strong>Revista Argentina de Musicolog&iacute;a (Asociaci&oacute;n Argentina de Musicolog&iacute;a)</strong><br /><a href="http://www.aamusicologia.com.ar/publicaciones.html" target="_blank">http://www.aamusicologia.com.ar/publicaciones.html</a></div>

