@{
    ViewData["Title"] = "Resultados";
}
<h1>@ViewData["Title"]</h1>

<form action="../../home/biblioteca" method="post" target="_blank">
    <p>
        <input type="submit" value="Guardar en Biblioteca">
    </p>
</form>

<iframe src="https://alzedo.weebly.com/about.html" width="500" height="500"></iframe>
<a href="https://alzedo.weebly.com/about.html">Ver página completa</a>
